header {
   height: auto;
   flex-direction: column;
}
.menu {
   height: 100px;
   width: 100px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   cursor: pointer;
}
.menu > div {
   width: 35px;
   margin: 3px;
   border-radius: 10px;
   height: 5px;
   background-color: white;
   transition: .3s;

}
.navigation {
   height:auto;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.nav_cards {
   width: 100%;
   transition: .3s;
   display: none;
}
.navLink {
   list-style: none ;
   width: 100%;
   display: none;
}
.navLink > a {
   text-decoration: none;
   color: var(--muted);
   font-family: "jetBrains", sans-serif;
   display: block;
   padding: 10px;
   text-align: center;
   transition: .3s;
}
.navLink2 {display: inline-block;}
.navLink > a:hover {
   color: #fff;
}
.menu2 {display: none;}

/* main */

#introduction {
  flex-direction: column;
  margin-top: 0;
}
.perkenalan {
  border: none;
  height: auto;
  width: auto;
  padding: 20px;
  margin-top: -180px;
}
.brandIntro {
  height: auto;
  width: auto;
}
.brandIntro > img {
   border-radius: 1000px;
   border: 10px solid var(--blue);
   height: 300px;
   width: 300px;
   backdrop-filter: blur(10px);
   box-shadow: 0px 0px 100px var(--muted);
}
.forIntro {
   flex-direction: row;
   margin-top: 10px;
}
.intro {
   display: inline-block;
   background-color: var(--blue);

}
.intro:nth-child(1) {border-radius: 10px 0px 0px 10px;}
.intro:nth-child(3) {border-radius: 0 10px 10px 0;}
.intro > a {
   color: white;
   letter-spacing: 2px;
   font-weight: normal;
   font-size: small;
}
.desPC {display: none;}
.desHp {display: block;}
/* rumus lingkaran */
#lingkaran {
   padding-top: 20px;
   display: flex;
   height: 700px;
   justify-content: center;
   align-items: center;
   background-color: var(--bg);
   flex-direction: column;
   align-items: flex-start;
}
#lingkaran::before {
   content: "";
   display: none;
}
#lingkaran::after {
   content: "";
   display: none;
}
.vektorBundar {
   height: 150px;
   width: 150px;
   border-radius: 50%;
   background-color: var(--blue);
   margin: -10px auto 30px auto;
}
#diameter {
   outline: none;
   padding: 10px;
   border-radius: 10px;
   transition: .3s;
}
#diameter:focus {
   border: 3px solid var(--blue);
}
#jari {
   border-radius: 10px;
   outline: none;
   padding: 10px;
   transition: .3s;
}
#jari:focus {
   border: 3px solid var(--blue);
}
.brandBundar {
   font-family: jetbrains;
   color: var(--blue);
   margin: 20px 20px;
   
}
.inputBundar {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex-wrap: wrap;
}
.brandBundar > h3 {
   font-size: 1.5rem;
}
.brandBundar > figcaption {
   color: var(--muted);
   font-size: small;
   font-style: italic;
   margin-top: 10px;

}
.count {
   padding: 10px;
   border-radius: 10px;
   border: none;
   font-family: jetbrains;
   cursor: pointer;
   transition: .3s;
}
.count:active {
   background: var(--blue);
   color: #fff;
   transform: scale(0.8);
}
.output {
   width: 260px;
   margin: 20px;
}
#outputBundar {
   color: #fff;
   font-family: jetbrains;
   font-size: 1.2rem;
}
