@font-face {
   font-family: jetbrains;
   src: url("font/JetBrainsMono-Bold.ttf");
}
html, * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root {
    --bg:#0E1117;
    --card:#121318;
    --muted:#9aa4b2;
    --blue:#1A73E8;
    --glass: rgba(255,255,255,0.03);
    --bg2: rgba(14,17,23,0.92);
}

header {
   background:var(--bg2);
   height: 100px;
   width: 100%;
   display: flex;    
   backdrop-filter: blur(5px);
   justify-content: space-between;
   align-items: center;
}
.nav1 {
   height: 100px;
   width: 100%;
   display: flex;    
   justify-content: space-between;
   align-items: center;

}
.brand {
   color: white;
   font-family: "jetBrains", sans-serif;
   padding: 10px 10px 10px 30px;
   font-size: 3rem;
   transition: .3s;
   cursor: pointer;
}
.brand::before{
   content: "";
   position: relative;
   top: 60px;
   left: -10px;
   height: 5px;
   width: 5px;
   background-color: white;
   border-radius: 10px;
   transition: .2s;
   display: block;
   opacity: 0;
}
.title {transition: .2s;color: var(--blue);}
.brand:hover::before { width: 135px; opacity: 100;}
.brand:hover {color: var(--blue);}
.brand:hover .title{opacity: 0;}
.menu {display: none;}

.navigation {
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.navLink {
   list-style: none ;

}
.navLink > a {
   text-decoration: none;
   color: var(--muted);
   font-family: "jetBrains", sans-serif;
   display: block;
   padding: 35px 20px;
   text-align: center;
   transition: .3s;
}
.navLink > a:hover {
   color: #fff;
}

/* main */



