@font-face {
   font-family: jetbrains;
   src: url(font/JetBrainsMono-Bold.ttf);
}
@font-face {
   font-family: lato;
   src: url(font/Lato-Regular.ttf);
}
html, * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root {
    --bg:#0E1117;
    --card:#121318;
    --muted:#9aa4b2;
    --blue:#1A73E8;
    --glass: rgba(255,255,255,0.03);
    --bg2: rgba(14,17,23,0.92);
}

header {
   background:var(--bg2);
   height: auto;
   width: 100%;
   display: flex;    
   backdrop-filter: blur(5px);
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   z-index: 999;
   
}
.nav1 {
   height: 100px;
   width: 100%;
   display: flex;    
   justify-content: space-between;
   align-items: center;

}
.brand {
   color: white;
   font-family: "jetBrains", sans-serif;
   padding: 10px 10px 10px 30px;
   font-size: 3rem;
   transition: .3s;
   cursor: grab;
}
.brand::before{
   content: "";
   position: relative;
   top: 60px;
   left: -10px;
   height: 5px;
   width: 5px;
   background-color: white;
   border-radius: 10px;
   transition: .2s;
   display: block;
   opacity: 0;
}
.title {transition: .2s;color: var(--blue);}
.brand:hover::before { width: 135px; opacity: 100;}
.brand:hover {color: var(--blue);}
.brand:hover .title{opacity: 0;}
.menu {
   height: 100px;
   width: 100px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   cursor: pointer;
}
.menu > div {
   width: 35px;
   margin: 3px;
   border-radius: 10px;
   height: 5px;
   background-color: white;
   transition: .3s;

}

.navigation {
   height:auto;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.two {
   flex-direction: row;
   width: 400px;
   margin-left: -85px;
}
.nav_cards {
   width: 100%;
   transition: .3s;
   display: none;
}
.navLink {
   list-style: none ;
   width: 100%;
   display: none;
}
.navLink > a {
   text-decoration: none;
   color: var(--muted);
   font-family: "jetBrains", sans-serif;
   display: block;
   padding: 10px;
   text-align: center;
   transition: .2s;
   border-radius: 10px;
}
.navLink2 {display: inline-block;}
.navLink > a:hover {
   color: #fff;
   background-color: var(--muted);
   
}
.kedua {
   display: inline-block;
   margin: 5px;

}

/* main */

/* introduction */

#introduction {
   height: 1000px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   box-shadow: 0px 0px 0px black inset;
   background: #dfdfdf;
}
.perkenalan {
  height: auto;
  width: 500px;
}
.brandIntro {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.brandIntro > figcaption {
   font-family: jetbrains;
   font-size: large;
   margin: 10px;
   cursor: grab;
}
.brandIntro > img {
   border-radius: 1000px;
   border: 20px solid var(--blue);
   height: 500px;
   width: 500px;
}
.brandPerkenalan > p:nth-child(1) {
  font-size: 3rem;
  font-family: jetBrains;
}
.brandPerkenalan > p:nth-child(2) {
  font-size: 3rem;
  font-family: jetBrains;
}
.about_me {
   font-family: lato;
   font-weight: bold;
   color: #252525;
   

}
.about_me > p {font-size: 16px;}
.forIntro {
   height:auto;
   width: 100%;
   display: flex;
   align-items: center;
   margin-top: 20px;
}
.intro {
   background-color: var(--blue);
   list-style: none;
   width: 100%;
   
}
.intro > a {
   color: white;
   text-decoration: none;
   font-family: jetbrains;
   letter-spacing: 2px;
   text-align: center;
   display: block;
   padding: 10px;
}
.intro:nth-child(1) {border-radius: 10px 0px 0px 10px;}
.intro:nth-child(3) {border-radius: 0 10px 10px 0;}

.desHp {display: none;}
.desHp,.desPC {padding-left: 10px;}
.medsos {
   padding: 10px;
}
.youtube,.ig,.github {
   display: flex;
   align-items: center;
   padding: 3px;
}
.youtube > a,.ig > a,.github > a {
   text-decoration: none;
   color: var(--blue);
   padding-left: 10px;
   font-style: italic;
   font-family: lato;


}
/* rumus Lingkaran */
#lingkaran {
   display: flex;
   height: 800px;
   justify-content: center;
   align-items: center;
   background-color: var(--bg);
   flex-direction: column;
   z-index: 2;
}
#lingkaran::before {
   content: "";
   position: absolute;
   height: 800px;
   width: 150px;
   border: 2px solid red;
   left: 0;
   background: var(--blue);
   filter: blur(110px);
   z-index: 0;
}
#lingkaran::after {
   content: "";
   position: absolute;
   height: 800px;
   width: 150px;
   border: 2px solid red;
   right: 0;
   background: var(--blue);
   filter: blur(110px);
   z-index: 0;
}
.vektorBundar {
   height: 150px;
   width: 150px;
   border-radius: 50%;
   background-color: var(--blue);
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: jetbrains;
   color: #fff;
   letter-spacing: 1px;
   box-shadow: 0px 0px 50px black inset;
}
#diameter {
   outline: none;
   padding: 10px;
   border-radius: 10px;
   transition: .3s;
}
#diameter:focus {
   border: 3px solid var(--blue);
}
#jari {
   border-radius: 10px;
   outline: none;
   padding: 10px;
   transition: .3s;
}
#jari:focus {
   border: 2px solid var(--blue);
}

.count {
   padding: 10px;
   border-radius: 10px;
   border: none;
   font-family: jetbrains;
   cursor: pointer;
   transition: .3s;
}
.count:active {
   background: var(--blue);
   color: #fff;
   transform: scale(0.8);
}
.output {
   width: 260px;
   margin-top: 10px;
   width: 470px;
}
.output > h3 {
   margin-bottom: 10px;
   font-family: jetbrains;
}
.output > h4 {
   color: #fff;
   font-family: jetbrains;
   font-size: 1.3rem;
}

/* pythagoras */
#pythagoras {
   height: 700px;
   background-color: var(--bg2);
   position: relative;
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.segitiga_samakaki {
   border-left: px solid transparent;
   border-right: 200px solid transparent;
	border-bottom: 100px solid #fff;
   margin: 0 auto;
}
#garisA {
   outline: none;
   padding: 10px;
   border-radius: 10px;
   transition: .3s;
}
#garisA:focus {
   border: 3px solid var(--blue);
}
#garisB {
   border-radius: 10px;
   outline: none;
   padding: 10px;
   transition: .3s;
}
#garisB:focus {
   border: 2px solid var(--blue);
}
#garisC {
   border-radius: 10px;
   outline: none;
   padding: 10px;
   transition: .3s;
}
#garisC:focus {
   border: 2px solid var(--blue);
}

/* rumus */
.rumusLebih {
   display: flex;
   flex-direction: column;
}
.inputRumus {
   display: flex;
   padding: 10px;
}
.inputRumus > input {margin: 5px;}
.brandRumus {
   font-family: jetbrains;
   color: var(--blue);
   margin: 80px 0px 20px 0px;
}
.brandRumus > h3 {
   font-size: 2rem;
}
.brandRumus > figcaption {
   color: var(--muted);
   font-size: medium;
   font-style: italic;
   margin-top: 10px;

}
.jari {margin: 5px;}
.goras {
   margin-left: 10px;
   display: flex;
   align-items: flex-end;
}

