@font-face {
   font-family: jetbrains;
   src: url("font/JetBrainsMono-Bold.ttf");
}
html, * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root {
    --bg:#0E1117;
    --card:#121318;
    --muted:#9aa4b2;
    --blue:#1A73E8;
    --glass: rgba(255,255,255,0.03);
    --bg2: rgba(14,17,23,0.92);
}

header {
   background:var(--bg2);
   height: 100px;
   width: 100%;
   display: flex;    
   backdrop-filter: blur(5px);
   justify-content: space-between;
   align-items: center;
}
.nav1 {
   height: 100px;
   width: 100%;
   display: flex;    
   justify-content: space-between;
   align-items: center;

}
.brand {
   color: white;
   font-family: "jetBrains", sans-serif;
   padding: 10px 10px 10px 30px;
   font-size: 3rem;
   transition: .3s;
   cursor: pointer;
}
.brand::before{
   content: "";
   position: relative;
   top: 60px;
   left: -10px;
   height: 5px;
   width: 5px;
   background-color: white;
   border-radius: 10px;
   transition: .2s;
   display: block;
   opacity: 0;
}
.title {transition: .2s;color: var(--blue);}
.brand:hover::before { width: 135px; opacity: 100;}
.brand:hover {color: var(--blue);}
.brand:hover .title{opacity: 0;}
.menu {display: none;}

.navigation {
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.navLink {
   list-style: none ;

}
.navLink > a {
   text-decoration: none;
   color: var(--muted);
   font-family: "jetBrains", sans-serif;
   display: block;
   padding: 35px 20px;
   text-align: center;
   transition: .3s;
}
.navLink > a:hover {
   color: #fff;
}

/* main */

#lingkaran {
   display: flex;
   height: 600px;
   justify-content: center;
   align-items: center;
   background-color: var(--bg);
   flex-direction: column;
}
.vektorBundar {
   height: 150px;
   width: 150px;
   border-radius: 50%;
   background-color: #fff;
}
#diameter {
   outline: none;
   padding: 10px;
   border-radius: 10px;
   transition: .3s;
}
#diameter:focus {
   border: 3px solid var(--blue);
}
#jari {
   border-radius: 10px;
   outline: none;
   padding: 10px;
   transition: .3s;
}
#jari:focus {
   border: 2px solid var(--blue);
}
.inputBundar {
   display: flex;
   padding: 10px;
}
.inputBundar > input {margin: 5px;}
.jari {margin: 5px;}
.brandBundar {
   font-family: jetbrains;
   color: var(--blue);
   margin: 20px 0px;
   margin: 10px;
}
.brandBundar > h3 {
   font-size: 2rem;
}
.brandBundar > figcaption {
   color: var(--muted);
   font-size: medium;
   font-style: italic;
   margin-top: 10px;

}
.count {
   padding: 10px;
   border-radius: 10px;
   border: none;
   font-family: jetbrains;
   cursor: pointer;
   transition: .3s;
}
.count:active {
   background: var(--blue);
   color: #fff;
   transform: scale(0.8);
}
.output {
   width: 260px;
   margin-top: 10px;
   width: 470px;
}
.output > h3 {
   margin-bottom: 10px;
   font-family: jetbrains;
}
.output > h4 {
   color: #fff;
   font-family: jetbrains;
   font-size: 1.3rem;
}


