@font-face {
   font-family: jetbrains;
   src: url("font/JetBrainsMono-Bold.ttf");
}
html, * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root {
      --bg:#0E1117;
    --card:#121318;
    --muted:#9aa4b2;
    --blue:#1A73E8;
    --glass: rgba(255,255,255,0.03);

}

header {
   background-color: var(--bg);
   height: 100px;
   width: 100%;
   border: 2px solid red;
   display: flex;    
   justify-content: space-between;
   align-items: center;
   position: sticky;
}
.brand {
   color: #fff;
   font-family: "jetBrains", sans-serif;
   border: 2px solid red;
   padding: 10px 10px 10px 30px;
   font-size: 3rem;
   transition: .3s;
   cursor: pointer;
}
.brand::before{
   content: "";
   position: relative;
   top: 60px;
   left: -10px;
   height: 5px;
   width: 5px;
   background-color: white;
   border-radius: 10px;
   transition: .2s;
   display: block;
   opacity: 0;
}
.title {transition: .2s;color: var(--blue);}
.brand:hover::before { width: 135px; opacity: 100;}
.brand:hover {color: var(--blue);}
.brand:hover .title{opacity: 0;}
.menu {
   height: 100px;
   width: 100px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   cursor: pointer;
}
.menu > div {
   width: 35px;
   margin: 3px;
   border-radius: 10px;
   height: 5px;
   background-color: white;

}

/* main */
#introduction {
   height: 10010px;
   border: 2px solid;
}